.hero {
    padding: 205px 0 80px 0;
    background-color: $colorBg;   
    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 56px;
    }
    &__info {
        width: 45%;
        max-width: 536px;
        &-subtitle {
            @include fontMedium;
            font-size: 18px;
            line-height: 1.3;
            color: $colorText2;
            margin-bottom: 16px;
        }
        &-title {
            @include fontBold;
            margin-bottom: 16px;
            font-size: 40px;
            line-height: 1.3;
            color: $colorBlack;
            & > span {
                @include fontBold;
                margin-bottom: 16px;
                font-size: 40px;
                line-height: 1.3;
                color: $colorText3;
            }
        }
        &-descr {
            @include fontRegular;
            margin-bottom: 40px;
            font-size: 16px;
            line-height: 120%;
            color: $colorBlack;
        }
        &-link {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 8px;
            border-radius: 24px;
            background-color: $colorBlack;
            color: $colorWhite;
            text-align: center;
            font-size: 14px;
            @include fontMedium;
            line-height: 16px;
            width: 100%;
            max-width: 280px;
            padding: 16px 24px;
            cursor: pointer;
            transition: all .2s ease;
            margin-bottom: 8px;
            &:hover {
                transform: scale(1.01);
                gap: 12px;
            }
        }
        &-warning {
            margin-bottom: 40px;
            @include fontRegular;
            font-size: 12px;
            line-height: 120%;
            color: $colorGray;
        }
        &-raiting {
            width: 100%;
            max-width: 196px;
            height: auto;
        }
    }
    &__images {
        width: 45%;
        max-width: 656px;
        height: auto;
        &-img {
            width: 656px;
            height: auto;
        }
    }
    &__box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 24px 80px 24px 50px;
        background-color: $colorWhite;
        border-radius: 24px;
    }
}