@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
html, body {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  background-color: #fef4cc;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 16px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button, input {
  border: none;
  background-color: rgba(0, 0, 0, 0);
}
button:focus, input:focus {
  border: 1px solid rgba(0, 0, 0, 0);
}

picture {
  width: 100%;
  height: 100%;
  display: block;
}

img {
  width: 100%;
  height: 100%;
}

.body__container {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fef4cc;
}

.container {
  max-width: 1224px;
  margin: 0 auto;
  padding: 0 20px;
}

.custom-logo {
  display: block;
  width: 145px;
  height: 41px;
}

.header {
  padding: 16px 0;
}
.header__top-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  gap: 8px;
  margin-bottom: 26px;
}
.header__top-bar > p {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  line-height: 20px;
  font-size: 12px;
  color: #000;
}
.header__top-bar > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 4px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #000;
}
.header__top-bar > a:hover {
  text-decoration: underline;
}
.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__wrapper-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 40px;
}
.header__nav-item {
  position: relative;
  padding: 0 0 10px 0;
}
.header__nav-item > a {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  color: #000;
}
.header__nav-item::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #000;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.header__nav-item-has--submenu:hover .header__nav-item__chevron {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  right: -22px;
}
.header__nav-item-has--submenu:hover .header__nav-sublist {
  display: block;
}
.header__nav-item--no-menu:hover::before {
  -webkit-transform: scale(1);
          transform: scale(1);
}
.header__nav-item__chevron {
  display: inline-block;
  width: 18px;
  height: 18px;
  background: url("/assets/icons/chevron-down-alt.svg");
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  position: absolute;
  top: 23%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 40px;
  margin-top: 10px;
}
.header__nav-sublist {
  position: absolute;
  top: 30px;
  width: 250px;
  padding: 24px 36px;
  display: none;
  background-color: #fff;
  border-radius: 20px;
}
.header__nav-subitem {
  position: relative;
  padding-left: 36px;
  margin-bottom: 20px;
}
.header__nav-subitem > a {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  color: #000;
}
.header__nav-subitem--ai {
  background: url("/assets/icons/ai-icon.webp");
  background-repeat: no-repeat;
  background-size: 20px;
}
.header__nav-subitem--formation {
  background: url("/assets/icons/rocket-02.webp");
  background-repeat: no-repeat;
  background-size: 20px;
}
.header__nav-subitem--bookkeeping {
  background: url("/assets/icons/pie-chart-01-2.webp");
  background-repeat: no-repeat;
  background-size: 20px;
}
.header__nav-subitem--taxes {
  background: url("/assets/icons/percent-01.webp");
  background-repeat: no-repeat;
  background-size: 20px;
}
.header__nav-subitem--analytics {
  background: url("/assets/icons/star-06.webp");
  background-repeat: no-repeat;
  background-size: 20px;
}
.header__nav-subitem--blog {
  background: url("/assets/icons/feather-1.webp");
  background-repeat: no-repeat;
  background-size: 20px;
}
.header__nav-subitem--docs {
  background: url("/assets/icons/file-minus-03.webp");
  background-repeat: no-repeat;
  background-size: 20px;
}
.header__nav-subitem--book {
  background: url("/assets/icons/book-open-01-1.webp");
  background-repeat: no-repeat;
  background-size: 20px;
}
.header__nav-subitem--love {
  background: url("/assets/icons/book-open-01-1.webp");
  background-repeat: no-repeat;
  background-size: 20px;
}
.header__questions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  gap: 8px;
}
.header__questions-text {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 14px;
  line-height: 120%;
  color: #000;
}
.header__questions-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 16px 24px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  border-radius: 24px;
  background-color: #fff;
  color: #000;
  text-align: center;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  line-height: 16px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.header__questions-link:hover {
  background-color: #EEE;
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}/*# sourceMappingURL=style.css.map */