@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
html, body {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 16px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button, input {
  border: none;
  background-color: rgba(0, 0, 0, 0);
}
button:focus, input:focus {
  border: 1px solid rgba(0, 0, 0, 0);
}

picture {
  width: 100%;
  height: 100%;
  display: block;
}

img {
  width: 100%;
  height: 100%;
}

.body__container {
  overflow: hidden;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

.container {
  max-width: 1284px;
  margin: 0 auto;
  padding: 0 20px;
}

.custom-logo {
  display: block;
  width: 105px;
  height: 31px;
  margin-bottom: 10px;
}

.show-img {
  display: block;
}

.hide-img {
  display: none;
}

.title {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 18px;
  color: #957800;
  line-height: 1.3;
  text-align: center;
  margin-bottom: 16px;
}

.subtitle {
  margin-bottom: 16px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  color: #000;
  scroll-margin-top: 150px;
  font-size: 36px;
  line-height: 44px;
}

.descr {
  margin-bottom: 56px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  color: #aeaeae;
  font-size: 16px;
  line-height: 24px;
}

.btn {
  background-color: #000;
  position: absolute;
  left: 32px;
  bottom: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 16px 12px 16px 24px;
  width: 100%;
  max-width: 220px;
  gap: 8px;
  border-radius: 24px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.btn__white {
  background-color: #fff;
}
.btn-text {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
}
.btn-text-white {
  color: #000;
}
.btn-img {
  width: 16px;
  height: 16px;
}
.btn:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  gap: 12px;
}

.hide-top-bar {
  -webkit-transition: all 4s ease;
  transition: all 4s ease;
  top: -40%;
  position: absolute;
  right: 0;
}

.header__top-bar {
  width: 100%;
  -webkit-transition: -webkit-transform 0.4s ease;
  transition: -webkit-transform 0.4s ease;
  transition: transform 0.4s ease;
  transition: transform 0.4s ease, -webkit-transform 0.4s ease;
}

.header__top-bar.hide-top-header {
  -webkit-transform: translateY(-300%);
          transform: translateY(-300%);
}

.hide {
  display: none;
}

.header {
  width: 100%;
  position: fixed;
  padding: 16px 0;
  background-color: #fef4cc;
  z-index: 90;
}
.header__top-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  gap: 8px;
  margin-bottom: 26px;
  width: 100%;
  background-color: #fef4cc;
}
.header__top-bar > p {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  line-height: 20px;
  font-size: 12px;
  color: #000;
}
.header__top-bar > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 4px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #000;
}
.header__top-bar > a:hover {
  text-decoration: underline;
}
.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  z-index: 70;
}
.header__wrapper-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 40px;
}
.header__nav-item {
  position: relative;
  padding: 0 0 10px 0;
}
.header__nav-item > a {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  color: #000;
}
.header__nav-item::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #000;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.header__nav-item-has--submenu:hover .header__nav-item__chevron {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  right: -22px;
}
.header__nav-item-has--submenu:hover .header__nav-sublist {
  display: block;
}
.header__nav-item--no-menu:hover::before {
  -webkit-transform: scale(1);
          transform: scale(1);
}
.header__nav-item__chevron {
  display: inline-block;
  width: 18px;
  height: 18px;
  background: url("../icons/chevron-down-alt.svg");
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  position: absolute;
  top: 23%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 40px;
  margin-top: 10px;
}
.header__nav-sublist {
  position: absolute;
  top: 30px;
  width: 280px;
  padding: 24px 20px;
  display: none;
  background-color: #fff;
  border-radius: 20px;
}
.header__nav-subitem {
  position: relative;
  padding-left: 36px;
  margin-bottom: 20px;
}
.header__nav-subitem > a {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  color: #000;
}
.header__nav-subitem--ai {
  background: url("../icons/ai-icon.webp");
  background-repeat: no-repeat;
  background-size: 20px;
}
.header__nav-subitem--formation {
  background: url("../icons/rocket-02.webp");
  background-repeat: no-repeat;
  background-size: 20px;
}
.header__nav-subitem--bookkeeping {
  background: url("../icons/pie-chart-01-2.webp");
  background-repeat: no-repeat;
  background-size: 20px;
}
.header__nav-subitem--taxes {
  background: url("../icons/percent-01.webp");
  background-repeat: no-repeat;
  background-size: 20px;
}
.header__nav-subitem--analytics {
  background: url("../icons/star-06.webp");
  background-repeat: no-repeat;
  background-size: 20px;
}
.header__nav-subitem--blog {
  background: url("../icons/feather-1.webp");
  background-repeat: no-repeat;
  background-size: 20px;
}
.header__nav-subitem--docs {
  background: url("../icons/file-minus-03.webp");
  background-repeat: no-repeat;
  background-size: 20px;
}
.header__nav-subitem--books {
  background: url("../icons/book-open-01-1.webp");
  background-repeat: no-repeat;
  background-size: 20px;
}
.header__nav-subitem--VIP {
  background: url("../icons/trophy-02-1.webp");
  background-repeat: no-repeat;
  background-size: 20px;
}
.header__nav-subitem--love {
  background: url("../icons/book-open-01-1.webp");
  background-repeat: no-repeat;
  background-size: 20px;
}
.header__nav-subitem--founder {
  background: url("../icons/microphone-02.webp");
  background-repeat: no-repeat;
  background-size: 20px;
}
.header__nav-subitem--events {
  background: url("../icons/calendar.webp");
  background-repeat: no-repeat;
  background-size: 20px;
}
.header__nav-subitem--partner {
  background: url("../icons/file.webp");
  background-repeat: no-repeat;
  background-size: 20px;
}
.header__nav-subitem--quarterly {
  background: url("../icons/calc.webp");
  background-repeat: no-repeat;
  background-size: 20px;
}
.header__nav-subitem--university {
  background: url("../icons/graduation-hat-02-1.webp");
  background-repeat: no-repeat;
  background-size: 20px;
}
.header__nav-subitem--about {
  background: url("../icons/building-line-1.webp");
  background-repeat: no-repeat;
  background-size: 20px;
}
.header__nav-subitem--careers {
  background: url("../icons/briefcase-01.webp");
  background-repeat: no-repeat;
  background-size: 20px;
}
.header__questions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  gap: 8px;
}
.header__questions-text {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 14px;
  line-height: 120%;
  color: #000;
}
.header__questions-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 16px 24px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  border-radius: 24px;
  background-color: #fff;
  color: #000;
  text-align: center;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  line-height: 16px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.header__questions-link:hover {
  background-color: #EEE;
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.mobile-menu {
  position: absolute;
  top: -500%;
  left: 0;
  width: 100%;
  height: 90vh;
  background-color: #fef4cc;
  z-index: 40;
  padding: 140px 70px;
  overflow: hidden;
  overflow-y: scroll;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.mobile-menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}
.mobile-menu-list-item {
  position: relative;
  padding: 0 0 10px 0;
  width: 100%;
  margin-bottom: 15px;
}
.mobile-menu-list-item > a {
  display: block;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  color: #000;
  margin-bottom: 15px;
}
.mobile-menu-list-item--chevron {
  position: absolute;
  top: 0;
  right: 30px;
  width: 16px;
  height: 16px;
  background: url("../icons/chevron-right-alt-black.svg");
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.mobile-menu-sublist {
  display: none;
}
.mobile-menu-sublist--item {
  padding-left: 40px;
  margin-bottom: 10px;
}
.mobile-menu-sublist--item > a {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  color: #000;
}
.mobile-menu .mobile-menu-open .mobile-menu-sublist {
  display: block;
}
.mobile-menu .mobile-menu-open .mobile-menu-list-item--chevron {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}
.mobile-menu-show {
  top: 0;
}

.hamburger {
  width: 30px;
  height: 30px;
  position: relative;
  display: none;
}
.hamburger > span {
  display: block;
  width: 80%;
  height: 2px;
  background-color: #000;
  position: absolute;
  border-radius: 34px;
}
.hamburger > span:first-child {
  top: 29%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.hamburger > span:nth-child(2) {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.hamburger > span:last-child {
  top: 72%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.hamburger-open > span:first-child {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}
.hamburger-open > span:nth-child(2) {
  opacity: 0;
}
.hamburger-open > span:last-child {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}

.hero {
  padding: 205px 0 80px 0;
  background-color: #fef4cc;
}
.hero__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 56px;
}
.hero__info {
  width: 45%;
  max-width: 536px;
}
.hero__info-subtitle {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.3;
  color: #645000;
  margin-bottom: 16px;
}
.hero__info-title {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  margin-bottom: 16px;
  font-size: 40px;
  line-height: 1.3;
  color: #000;
}
.hero__info-title > span {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  margin-bottom: 16px;
  font-size: 40px;
  line-height: 1.3;
  color: #957800;
}
.hero__info-descr {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  margin-bottom: 40px;
  font-size: 16px;
  line-height: 120%;
  color: #000;
}
.hero__info-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8px;
  border-radius: 24px;
  background-color: #000;
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  line-height: 16px;
  width: 100%;
  max-width: 280px;
  padding: 16px 24px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  margin-bottom: 8px;
}
.hero__info-link:hover {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  gap: 12px;
}
.hero__info-warning {
  margin-bottom: 40px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 12px;
  line-height: 120%;
  color: #6b6b6b;
}
.hero__info-raiting {
  width: 100%;
  max-width: 196px;
  height: auto;
}
.hero__images {
  width: 45%;
  max-width: 656px;
  height: auto;
}
.hero__images-img {
  width: 656px;
  height: auto;
}
.hero__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 24px 80px 24px 50px;
  background-color: #fff;
  border-radius: 24px;
}

.resources {
  padding: 176px 0 160px 0;
}
.resources__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 32px;
}
.resources__item {
  width: 100%;
  max-width: 460px;
  height: auto;
  border-radius: 32px;
  position: relative;
}
.resources__item-img {
  width: 100%;
  height: 100%;
  border-radius: 32px;
}
.resources__item-img > img {
  border-radius: 32px;
}
.resources__item-title {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #645000;
  position: absolute;
  bottom: 121px;
  left: 32px;
}
.resources__item-title--white {
  color: #fff;
}
.resources__item-descr {
  position: absolute;
  bottom: 86px;
  left: 32px;
  margin-bottom: 16px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  color: #957800;
  font-size: 16px;
  line-height: 1.3;
}
.resources__item-descr--white {
  color: #fff;
}
.resources__item-link {
  background-color: #000;
  position: absolute;
  left: 32px;
  bottom: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 16px 12px 16px 24px;
  width: 100%;
  max-width: 220px;
  gap: 8px;
  border-radius: 24px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.resources__item-link--white {
  background-color: #fff;
}
.resources__item-link--text {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
}
.resources__item-link--text-white {
  color: #000;
}
.resources__item-link--img {
  width: 16px;
  height: 16px;
}
.resources__item-link:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  gap: 12px;
}

.overview {
  padding-bottom: 118px;
}
.overview__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.overview__item {
  width: 100%;
  max-width: 376px;
  height: 574px;
  background-color: #f6f6f6;
  border-radius: 24px;
  position: relative;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.overview__item-img {
  width: 376px;
  height: 250px;
  border-radius: 24px;
  margin-bottom: 32px;
}
.overview__item-img > img {
  border-radius: 24px;
}
.overview__item-box {
  padding: 0 32px 32px 32px;
}
.overview__item-title {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: #000;
  margin-bottom: 8px;
}
.overview__item-descr {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000;
}
.overview__item-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 16px 24px;
  gap: 8px;
  border-radius: 24px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 14px;
  line-height: 15px;
  color: #000;
  background-color: #ddd;
  position: absolute;
  bottom: 32px;
  left: 32px;
  cursor: pointer;
}
.overview__item:hover .overview__item-btn {
  background-color: #d3d3d3;
}

.products {
  padding: 118px 0;
  padding-bottom: 0;
}
.products__horizontal-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 8px;
  margin-bottom: 16px;
}
.products__horizontal-item {
  width: 100%;
  max-width: 600px;
  height: 200px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 32px 0 0 40px;
  border-radius: 32px;
  overflow: hidden;
}
.products__horizontal-item--img {
  width: 250px;
  height: 157px;
}
.products__horizontal-item {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.products__horizontal-item:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}
.products__content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 24px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 24px;
}
.products__content-wrapper:last-child {
  margin-bottom: 0;
}
.products__item {
  width: 100%;
  max-width: 392px;
  height: 380px;
  padding: 40px 40px 0 40px;
  border-radius: 32px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  position: relative;
}
.products__item:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}
.products__item-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 8px;
  margin-bottom: 16px;
}
.products__item-head--text {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #645000;
}
.products__item-title {
  margin-bottom: 16px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}
.products__item-link {
  display: block;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  width: 100%;
  max-width: 170px;
  font-size: 16px;
  line-height: 20px;
  color: #000;
  position: relative;
  margin-bottom: 32px;
}
.products__item-link::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-image: url("../icons/chevron-right-alt-black.svg");
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
}
.products__item-img {
  width: 312px;
  height: 172px;
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.products__box-head {
  margin-bottom: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.products__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 795px;
  border-bottom: 1px solid #e2e2e2;
}
.products__buttons-btn {
  padding: 16px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #6b6b6b;
  cursor: pointer;
}
.products__buttons-btn:focus {
  outline: none;
}
.products__buttons-btn:active {
  outline: none;
}
.products__links {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  gap: 16px;
}
.products__links-link {
  position: static;
}
.products__links-btn {
  display: inline-block;
  position: static;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.products__links-btn:hover {
  background-color: #d3d3d3;
}
.products__formations-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 16px;
}
.products__formations-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}
.products__formations-item {
  background-color: #fef4cc;
  padding: 40px 40px 50px 40px;
  border-radius: 32px;
}
.products__formations-item--second {
  max-width: 358px;
  padding: 40px 40px 37px 40px;
}
.products__formations-item--three {
  max-width: 357px;
  padding-bottom: 90px;
}
.products__formations-item--title {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  color: #957800;
  margin-bottom: 16px;
}
.products__formations-item--subtitle {
  margin-bottom: 16px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #000;
  max-width: 396px;
}
.products__formations-item--descr {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000;
  max-width: 396px;
  margin-bottom: 56px;
}
.products__formations-item--descr--second {
  margin-bottom: 26px;
}
.products__formations-item--descr--three {
  margin-bottom: 35px;
}
.products__formations-item--img {
  width: 396px;
  height: auto;
}
.products__formations-item--img--second {
  width: 183px;
  height: auto;
  margin-left: 30%;
}
.products__formations-item--img--three {
  width: 278px;
  height: auto;
}
.products__formations-window {
  border: 1px solid #957800;
  padding: 32px 40px;
  border-radius: 32px;
  max-width: 358px;
}
.products__bookkeeping-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 24px;
  margin-bottom: 16px;
}
.products__bookkeeping-item {
  width: 560px;
  height: 595px;
  background-color: #eef3fe;
  padding: 40px 40px 0 40px;
  border-radius: 32px;
  position: relative;
}
.products__bookkeeping-item--title {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  color: #276EF1;
  margin-bottom: 16px;
}
.products__bookkeeping-item--subtitle {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #000;
  margin-bottom: 16px;
}
.products__bookkeeping-item--descr {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000;
  max-width: 396px;
  margin-bottom: 56px;
}
.products__bookkeeping-item--img {
  width: 480px;
  height: 354px;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.products__bookkeeping-item--img--right {
  width: 234px;
  height: 147px;
  left: 80%;
  bottom: 34px;
}
.products__bookkeeping-item--right {
  width: 639px;
  height: 408px;
  margin-top: 16px;
}
.products__bookkeeping-window {
  border: 1px solid #276EF1;
  padding: 40px 40px 32px 40px;
  border-radius: 32px;
  width: 639px;
  height: 170px;
}
.products__taxes-item {
  width: 720px;
  height: 606px;
}
.products__taxes-item--img {
  width: 640px;
  height: 365px;
}
.products__taxes-item--img--right {
  width: 174px;
  height: 152px;
}
.products__taxes-item--right {
  width: 487px;
  height: 419px;
  margin-top: 0;
  margin-bottom: 16px;
}
.products__taxes-window {
  margin-bottom: 0;
  width: 487px;
  height: 170px;
}
.products__analytics-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 24px;
}
.products__analytics-item {
  padding: 40px 40px 50px 40px;
  border-radius: 32px;
  background-color: #ffeef2;
  position: relative;
  width: 600px;
  height: 605px;
}
.products__analytics-item--title {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  color: #957800;
  margin-bottom: 16px;
}
.products__analytics-item--subtitle {
  margin-bottom: 16px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #000;
}
.products__analytics-item--descr {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000;
}
.products__analytics-item--img {
  width: 520px;
  height: 364px;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 0;
}
.products__analytics-item--imgs {
  margin-bottom: 40px;
}

.yellow {
  background-color: #fef4cc;
}

.blue {
  background-color: #eef3fe;
}

.green {
  background-color: #d0f4db;
}

.green2 {
  background-color: #e9fbfd;
}

.pink {
  background-color: #ffeef2;
}

.text-blue {
  color: #276EF1;
}

.text-green {
  color: #0D792C;
}

.text-green2 {
  color: #588C93;
}

.text-pink {
  color: #996773;
}

.border-green {
  border: 1px solid #0D792C;
}

.tab-active {
  color: #000;
  border-bottom: 2px solid #000;
}

.tab-content-hide {
  display: none;
}

.tab-content-active {
  display: block;
}

.perks {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #f6f6f6;
}
.perks__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.perks__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 0.5em;
  margin-bottom: 24px;
}
.perks__head-logo {
  width: 64px;
  height: 20px;
}
.perks__head-title {
  margin-bottom: 0;
}
.perks__subtitle {
  max-width: 596px;
  width: 100%;
  text-align: left;
  margin-bottom: 16px;
}
.perks__descr {
  text-align: left;
  margin-bottom: 24px;
}
.perks__btn {
  position: static;
}
.perks__img {
  width: 50%;
  max-width: 595px;
  height: auto;
}

.faqs {
  margin-bottom: 80px;
  padding: 80px 0;
}
.faqs__subtitle {
  margin-bottom: 56px;
}
.faqs__box {
  max-width: 800px;
  margin: 0 auto;
}
.faqs__item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  padding: 24px 0;
}
.faqs__item-quest {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: #000;
  position: relative;
  cursor: pointer;
}
.faqs__item-quest::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 16px;
  height: 16px;
  background-image: url("../icons/plus-icon.webp");
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.faqs__item-answer {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  padding-top: 16px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #545454;
  height: 0;
  display: none;
}
.faqs__item-answer > ul {
  padding: 10px 0;
  padding-left: 30px;
  color: #545454;
  list-style-type: disc;
}
.faqs__item-answer > ul > li {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #545454;
}
.faqs__btn {
  position: static;
  margin: 56px auto;
  max-width: 144px;
  cursor: pointer;
}
.faqs__btn-img {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.open-answer .faqs__item-answer {
  height: unset;
  display: block;
}
.open-answer .faqs__item-quest::after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.testimonials {
  padding: 120px 0;
}
.testimonials__container {
  width: 100%;
  overflow: hidden;
}
.testimonials__tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 24px;
}
.testimonials__tabs-item {
  width: 100%;
  max-width: 936px;
  height: 580px;
  padding: 40px;
  border-radius: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.testimonials__tabs-item--img {
  width: 400px;
  height: 500px;
  position: relative;
  border-radius: 32px;
}
.testimonials__tabs-item--img > video {
  width: 100%;
  height: 100%;
}
.testimonials__tabs-item--logo {
  position: absolute;
  top: 32px;
  left: 32px;
  width: 125px;
  height: auto;
}
.testimonials__tabs-info {
  width: 394px;
}
.testimonials__tabs-info--img {
  margin-bottom: 46px;
}
.testimonials__tabs-info--title {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #000;
  margin-bottom: 43px;
}
.testimonials__tabs-info--name {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #000;
  margin-bottom: 6px;
}
.testimonials__tabs-info--post {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #545454;
}
.testimonials__tabs-info--post > a {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #00B6BC;
}
.testimonials__tabs-info--post__2 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #545454;
}
.testimonials__tabs-info--post__2 > a {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #74593F;
}
.testimonials__tabs-info--post__3 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #545454;
}
.testimonials__tabs-info--post__3 > a {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #CC5919;
}

.blue {
  background-color: #eef3fe;
}

.brown {
  background-color: #f3eae1;
}

.peach {
  background-color: #ffe2d2;
}

.img-black {
  background-color: #000;
}

.img-brown {
  background-color: #dabfa5;
}

.img-orange {
  background-color: #ffa979;
}

.testimonials-hide {
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
  position: relative;
  width: 120px;
  border-radius: 32px;
  padding: 0;
  display: block;
  overflow: hidden;
  cursor: pointer;
}
.testimonials-hide::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3764705882);
  z-index: 20;
}
.testimonials-hide .testimonials__tabs-item--adam {
  display: block;
  width: 120px;
  background-color: #00B6BC;
}
.testimonials-hide .testimonials__tabs-item--img {
  width: 232px;
  height: 580px;
}
.testimonials-hide .testimonials__tabs-item--img > video {
  display: none;
}
.testimonials-hide .testimonials__tabs-item--logo {
  display: none;
}
.testimonials-hide .testimonials__tabs-info {
  display: none;
}

.testimonials-show {
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
  width: 100%;
  max-width: 936px;
  height: 580px;
  padding: 40px;
  border-radius: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.testimonials-show::before {
  display: none;
}
.testimonials-show .testimonials__tabs-item--adam {
  display: none;
}
.testimonials-show .testimonials__tabs-item--img {
  width: 400px;
  height: 500px;
  position: relative;
}
.testimonials-show .testimonials__tabs-item--logo {
  display: block;
}
.testimonials-show .testimonials__tabs-info {
  display: block;
}

.joining {
  padding-bottom: 108px;
}
.joining__title {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  text-align: left;
  color: #000;
  margin-bottom: 16px;
}
.joining__descr {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #000;
  margin-bottom: 16px;
}
.joining__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 16px;
}
.joining__button {
  position: static;
}
.joining__wrapper {
  padding: 0 80px;
  background-color: #fde999;
  border-radius: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.joining__info {
  max-width: 492px;
  width: 50%;
}
.joining__img {
  width: 50%;
  max-width: 492px;
  height: auto;
}

.footer {
  border-top: 1px solid #cbcbcb;
  padding: 110px 0;
}
.footer__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__head-logo {
  margin-bottom: 16px;
}
.footer__head-text {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin: 24px 0 0;
  color: #545454;
  max-width: 485px;
}
.footer__head-mailing {
  max-width: 400px;
}
.footer__head-mailing--title {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #000;
  margin-bottom: 16px;
}
.footer__head-warning {
  font-size: 14px;
  line-height: 20px;
  color: #000;
  margin-top: 36px;
}
.footer__head-warning > a {
  font-size: 14px;
  line-height: 20px;
  color: #276ef1;
}
.footer__form {
  position: relative;
  height: 48px;
}
.footer__form-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 400px;
  background-color: #f6f6f6;
  padding: 6px 6px 6px 16px;
  border-radius: 32px;
  height: 48px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.38);
}
.footer__form-input:focus {
  outline: none;
}
.footer__form-input--box {
  width: 100%;
  max-width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
  margin-bottom: 16px;
}
.footer__form-error {
  color: red;
  font-size: 13px;
  display: none;
}
.footer__form-label {
  display: block;
  width: 100%;
}
.footer__form-btn {
  padding: 0;
  width: 119px;
  height: 38px;
  top: 4px;
  left: 270px;
  cursor: pointer;
}
.footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 104px 0;
  border-bottom: 1px solid #cbcbcb;
}
.footer__menu-item {
  max-width: 25%;
}
.footer__menu-item--title {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #000;
  margin-bottom: 24px;
}
.footer__menu-item--nav > ul > li {
  margin-bottom: 16px;
  color: #545454;
}
.footer__menu-item--nav > ul > li:last-child {
  margin-bottom: 0;
}
.footer__menu-item--nav > ul > li > a {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #545454;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.footer__menu-item--nav > ul > li > a:hover {
  text-decoration: underline;
}
.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__bottom-logo {
  width: 216px;
  height: auto;
}
.footer__bottom-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 40px;
}
.footer__bottom-center--item {
  display: block;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #000;
}

@media (max-width: 1200px) {
  .hamburger {
    display: block;
  }
  .header__nav {
    display: none;
  }
  .header__questions {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */