$colorBlack: #000;
$colorWhite: #fff;
$colorWhite2: #f6f6f6;
$colorText2: #645000;
$colorText3: #957800;
$colorGray: #6b6b6b;
$colorGrey2: #EEE;
$colorGray3: #aeaeae;
$colorGray4: #ddd ;
$colorGray5: #d3d3d3 ;
$colorBg: #fef4cc;
$colorYellow: #fbde66;
$colorPink: #996773; 
$colorBlue: #eef3fe;
$colorGreen: #d0f4db;
$colorGreen2: #e9fbfd;
