$colorBlack: #000;
$colorWhite: #fff;
$colorText2: #645000;
$colorText3: #957800;
$colorGray: #6b6b6b;
$colorBg: #fef4cc;
$colorYellow: #fbde66;
$pinkColor: #996773; 
$blueColor: #eef3fe;
$greenColor: #d0f4db;
$greenColor2: #e9fbfd;
