$colorBlack: #000;
$colorWhite: #fff;
$colorWhite2: #f6f6f6;
$colorText2: #645000;
$colorText3: #957800;
$colorGray: #6b6b6b;  
$colorGrey2: #EEE;
$colorGray3: #aeaeae;
$colorGray4: #ddd ;
$colorGray5: #d3d3d3 ;
$colorGray6: #545454;
$colorGray7: #cbcbcb;
$colorGray8: #e2e2e2;
$colorBg: #fef4cc;
$colorYellow: #fbde66;
$colorYellow2: #fde999;
$colorPink: #996773; 
$colorPink2: #ffeef2; 
$colorBlue: #eef3fe;
$colorBlue2: #276EF1;
$colorGreen: #d0f4db; 
$colorGreen2: #e9fbfd; 
$colorGreen3: #0D792C;
$colorGreen4: #588C93;
$colorTurquoise:#00B6BC;
$colorBrown:#74593F;
$colorBrown2:#f3eae1;
$colorBrown3:#dabfa5;
$colorPeach:#ffe2d2;
$colorOrange: #CC5919;
$colorOrange2: #ffa979;