.body__container {
    overflow: hidden;
    width: 100%;
    box-sizing: border-box;
    background-color: $colorBg;
     height: 1000px;
}
.container {
    max-width: 1224px;
    margin: 0 auto;
    padding: 0 20px;
}
.custom-logo {
    display: block;
    width: 105px;
    height: 31px;
    margin-bottom: 10px;
}
.show-img {
    display: block;
}
.hide-img {
    display: none;
}
.hide-top-bar {
    transition: all 4s ease;
    top: -40%;
    position: absolute;
    right: 0;
    
}
.header__top-bar {
  width: 100%;
  transition: transform 0.4s ease;
}
.header__top-bar.hide-top-header {
  transform: translateY(-300%);
}
.hide {
    display: none;
}
