@mixin fontBlack {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
}
@mixin fontBold {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
}
@mixin fontMedium {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
}
@mixin fontRegular {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
}
@mixin fontLight {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
}